@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    font-family: 'Permanent Marker', cursive;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgba(34, 34, 34, 0.5);
}


#screen {
    position: relative;
    display: flex;
    flex-direction: column;
    border: solid 1px lightblue;
    padding: 20px;
    background-image: url(./assets/sfbg.png);
    width: 80vw;
    min-width: 500px;
    min-height: 390px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    max-width: 600px;

}


.hp {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid 1px white; */
}

.hp-p1 {
    /* display: flex; */
    height: 20px;
    width: 40%;
    border: solid 1px white;
    box-shadow: 0px 0px 20px 10px rgb(152, 161, 236);
}

#hp-p1-count {
    background-color: blue;
    width: 100%;
    height: 100%;
    color: white;
}

.count-down {
    -webkit-text-stroke: 1px blue;
}

.hp-comp {
    position: relative;
    height: 20px;
    width: 40%;
    border: solid 1px white;
    box-shadow: 0px 0px 20px 10px rgb(233, 145, 110);
}

#hp-comp-count {
    background-color: red;
    width: 100%;
    height: 100%;
    color: white;
}
#nameComp {
    position: absolute;
    right: 0;
    color: red;
}

.round {
    -webkit-text-stroke: 1px red;
    text-align: center;
    align-self: center;
    color: white;

}

i {
    font-size: 2.5rem;
    padding: 10px;
    color: white;
    /* border: solid 1px red */
}

.weapons {
    /* display: flex; */
    width: fit-content;
    /* background-color: aquamarine; */
}

.show-weapon-p1 i{
    font-size: 6rem;
    color: blue;
    /* background-color: blue; */
    /* height: 50px; */
    /* width: 50px; */
}
.show-weapon-comp i{
    font-size: 6rem;
    color: red;
    /* background-color: red; */
    /* height: 50px; */
    /* width: 50px; */
}

#fighters {
    display: flex;
    justify-content: space-between;
}

#p1-weapons {
   -webkit-text-stroke: 1px blue;
    text-shadow: -5px 5px 5px blue;
}

#boss-weapons {
   -webkit-text-stroke: 1px red;
    text-shadow: -5px 5px 5px red;
}

#p1-weapons i:hover {
    transform: scale(1.5);
    cursor:pointer;
    /* background-color: rgba(34, 34, 34, 0.5); */
}
#boss-weapons i:hover {
    /* transform: scale(1.5); */
    cursor:not-allowed;
    /* background-color: rgba(34, 34, 34, 0.5); */
}


#win-lose {
    position: absolute;
    bottom: 70px;
    font-size: 1.5rem;
    align-self: center;
    z-index: 100;
    color: white;
    -webkit-text-stroke: 1px blue;
}

/* utilities */
.hidden {
    display: none;
}